include requirements*
include versioneer.py

include seamm_dashboard/swagger.yml
graft seamm_dashboard/models
graft seamm_dashboard/routes
graft seamm_dashboard/static
graft seamm_dashboard/templates
global-exclude *.pyc
