connexion[swagger-ui]
fasteners
flask
flask-authorize
flask-bootstrap
flask-cors
flask-debugtoolbar
flask-jwt-extended>=4.1.0
flask-mail
flask-marshmallow
flask-moment
flask-sqlalchemy
flask-wtf
requests
seamm-datastore
seamm-util
selenium
six
sqlalchemy
wtforms
