connexion[swagger-ui]
email-validator
fasteners
flask
flask-authorize
flask-jwt-extended>=4.1.0
flask_bootstrap
flask_cors
flask_debugtoolbar
flask_login
flask_mail
flask_marshmallow
flask_moment
flask_sqlalchemy
flask_wtf
marshmallow
marshmallow_sqlalchemy
python_dateutil
requests
seamm_util
selenium
sqlalchemy
wtforms
