connexion
email-validator
fasteners
flask
flask-authorize
flask-bootstrap
flask-cors
flask-debugtoolbar
flask-jwt-extended>=4.1.0
flask-mail
flask-marshmallow
flask-moment
flask-sqlalchemy
flask-wtf
seamm-datastore
seamm-util
six
sqlalchemy
swagger-ui-bundle
wtforms
