connexion
email-validator
fasteners
flask
flask-authorize
flask-bootstrap
flask-cors
flask-jwt-extended>=4.1.0
flask-mail
flask-marshmallow
flask-moment
flask-sqlalchemy
flask-wtf
seamm-datastore
seamm-util
six
sqlalchemy<2.0
swagger-ui-bundle
wtforms
flask-compress
waitress
