<!-- Plugins and scripts required by this view-->
<script src= "{{ url_for('static', filename='js/job_report.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_flowchart.css') }}">


<div class="animated fadeIn">
  <div id='job_title' class='h1' style="margin-bottom:25px"></div>
    <div class='h5'>Job Info</div>
    <table id="job-info" class="table" style="width:100%">
      <thead>
        <tr>
          <th>
            Job Name
          </th>
          <th>
            Job Status
          </th>
          <th>
            Flowchart
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
    </table>
    <div class="row">
      <div class="col-sm-3">
        <div class='h5', style="margin-top:20px">Browse job files</div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Files" id="search">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="btn-search">Search</button>
          </span>
        </div>
        <div style="margin:15px" id='js-tree'></div>
      </div>
      <div class="col-sm-9 card" id='view-card'><div id="file-name" class="h4 btn btn-info" style="margin:15px;">Click Files to view</div><div id='file-content' style="margin:15px; font-family: Courier; white-space:pre-wrap; overflow-y: auto; overflow-x: hidden;"></div><div id="cytoscape"></div><table id="csv-data"></table></div></div></div>