<!-- Plugins and scripts required by this view-->
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jstree/dist/themes/default/style.css') }}" />
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jstree/dist/jstree.min.js') }}"></script>
<script src= "{{ url_for('static', filename='js/job_report.js') }}"></script>

<div class="animated fadeIn">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Files" id="search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="btn-search">Search</button>
    </span>
  </div>
  <div id='js-tree'></div>
</div>