
<script src="static/js/jobs_list.js"></script>
<div class="row justify-content-end mb-2 mr-1">
{#  <div class="col-sm-12 col-md-6 text-center text-md-right">#}
{#    <a class="btn btn-info btn-outline-primary btn-nav-link icon" href="oamp/add_building.html">#}
{#      <i class="fa fa-plus fa-lg"></i>&nbsp; Add Building#}
{#    </a>#}
{#  </div>#}
</div>
<div class="row">
  <table id="jobs" class="table table-responsive-sm table-bordered table-striped table-sm" style="width:100%">
    <thead>
      <tr>
        <th>
          Job Name
        </th>
        <th>
          Job Path
        </th>
        <th>
          Flowchart
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
  </table>
</div>